# Optional licensed/authorized Avinor ArcGIS MapServer export endpoint.
# Do not commit private tokens or credentials. If access requires a secret,
# proxy it through a backend rather than exposing it in the browser bundle.
VITE_AVINOR_ICAO_EXPORT_URL=
